In [1]:
import numpy as np
import pandas as pd

In [2]:
books=pd.read_csv('BX-Books.csv',sep=';',error_bad_lines=False,encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\lenovo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books=books[['ISBN','Book-Title','Book-Author']]
books.head(2)

         ISBN           Book-Title           Book-Author
0  0195153448  Classical Mythology    Mark P. O. Morford
1  0002005018         Clara Callan  Richard Bruce Wright

In [5]:
books.columns=['ISBN','Books Name','Author']
books.head(2)

         ISBN           Books Name                Author
0  0195153448  Classical Mythology    Mark P. O. Morford
1  0002005018         Clara Callan  Richard Bruce Wright

In [6]:
books.shape

(271360, 3)

In [7]:
ratings=pd.read_csv('BX-Book-Ratings.csv',sep=';',encoding='latin-1')
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [8]:
ratings.columns=['user_id','ISBN','rating']
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [9]:
ratings.shape

(1149780, 3)

In [10]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [11]:
user_min=ratings['user_id'].value_counts()

In [12]:
user_min=user_min[user_min>200]

In [13]:
user_min=ratings['user_id'].value_counts()
user_min=user_min[user_min>200]
len(user_min)

899

In [14]:
ratings=ratings[ratings['user_id'].isin(user_min.index)]
len(ratings)

526356

In [15]:
# merge two table
rating_with_bookname=ratings.merge(books,on='ISBN')
rating_with_bookname.head()

,user_id,ISBN,rating,Books Name,Author
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner

In [16]:
rating_with_bookname.groupby('Books Name')['rating'].agg('count').reset_index().rename(columns={'rating':'num_rating'})

                                               Books Name  num_rating
0        A Light in the Storm: The Civil War Diary of ...           2
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Beyond IBM: Leadership Marketing and Finance ...           1
4        Clifford Visita El Hospital (Clifford El Gran...           1
5                                            Dark Justice           1
6                                                Deceived           1
7        Earth Prayers From around the World: 365 Pray...           3
8        Final Fantasy Anthology: Official Strategy Gu...           3
9        Flight of Fancy: American Heiresses (Zebra Ba...           1
10       Garfield Bigger and Better (Garfield (Numbere...           1
11                              God's Little Promise Book           1
12       Good Wives: Image and Reality in the Lives of...           5
13       Goosebumps Monster Edition 1: Welcome to Dead...           3
14       Harry Potter and the Bible: The Menace Behind...           1
15       Highland Desire (Zebra Splendor Historical Ro...           1
16       Hiking the California Coastal Trail: Oregon t...           1
17                                           It Takes Two           1
18                   LA Gallinita Roja/the Little Red Hen           2
19       Little Comic Shop of Horrors (Give Yourself G...           4
20       Murder of a Sleeping Beauty (Scumble River My...           7
21                                           Mystery Mile           1
22       Nonbook Materials: The Organization of Integr...           1
23         Pokemon: The Official Collector's Sticker Book           1
24       Q-Space (Star Trek The Next Generation, Book 47)          12
25        Q-Zone (Star Trek The Next Generation, Book 48)           8
26                           Tales of Terror and Suspense           1
27       The Secret of the Old Clock (Nancy Drew, Book 1)           2
28       The Tender Commandments : Reflections on the ...           2
29                          The Town Cats and Other Tales           1
...                                                   ...         ...
160239                                         seaQuest 2           2
160240                        sed &amp; awk (2nd Edition)           1
160241                sed &amp; awk (A Nutshell handbook)           1
160242                         sharks (reading discovery)           1
160243                                           stardust          18
160244                                  street bible, the           1
160245         termcap &amp; terminfo (O'Reilly Nutshell)           1
160246                               the Dark Light Years           1
160247                 the Heiress Bride  (sister brides)           3
160248                                 the Lost and Found           2
160249                       the Twelve Days of Christmas           1
160250                              them (Modern Library)           1
160251                              together by christmas           7
160252                                       voyage fatal           1
160253                             wet sand, raven tracks           1
160254  whataboutrick.com: a poetic tribute to Richard...           1
160255                   why I'm like this : True Stories           4
160256                             Â¡Corre, perro, corre!           1
160257              Â¡Cristina! confidencias de una rubia           1
160258             Â¿Eres tu mi mamÃ¡?/Are You My Mother?           1
160259                           Â¿QuÃ© me quieres, amor?           1
160260  Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten           1
160261       Ã?coute ma diffÃ©rence (Le Temps des femmes)           1
160262                  Ã?ngeles fugaces (Falling Angels)           1
160263                             Ã?Â?ber das Fernsehen.           2
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...           3
160265                                      Ã?Â?lpiraten.           1
160266                     Ã?Â?rger mit Produkt X. Roman.           1
160267                              Ã?Â?stlich der Berge.           1
160268                                  Ã?Â?thique en toc           1

[160269 rows x 2 columns]

In [17]:
book_total_ratings=rating_with_bookname.groupby('Books Name')['rating'].agg('count').reset_index().rename(columns={'rating':'num_rating'})

In [18]:
len(book_total_ratings)

160269

In [19]:
ultimate_final=rating_with_bookname.merge(book_total_ratings,on='Books Name')
ultimate_final.head()

,user_id,ISBN,rating,Books Name,Author,num_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82

In [20]:
ultimate_final=ultimate_final[ultimate_final['num_rating']>=50]
len(ultimate_final)

61853

In [21]:
ultimate_final=ultimate_final.drop_duplicates(['user_id','Books Name'])
len(ultimate_final)

59850

In [22]:
ultimate_pivot=ultimate_final.pivot_table(values='rating',index='Books Name',columns='user_id').fillna(0)

In [23]:
ultimate_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Books Name,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [24]:
ultimate_pivot.shape

(742, 888)

In [25]:
from scipy.sparse import csr_matrix
ultimate_sparse=csr_matrix(ultimate_pivot)

In [26]:
from sklearn.neighbors import NearestNeighbors
nn=NearestNeighbors(metric='cosine',algorithm='brute')
nn.fit(ultimate_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [27]:
distances,suggestions=nn.kneighbors(ultimate_pivot.iloc[238, :].values.reshape(1,-1),n_neighbors=6)

In [28]:
suggestions

array([[238, 240, 237, 239, 241, 242]], dtype=int64)

In [29]:
suggestions=suggestions.ravel()
suggestions

array([238, 240, 237, 239, 241, 242], dtype=int64)

In [30]:
for i in range(len(suggestions)):
    print(suggestions[i])

238
240
237
239
241
242

In [31]:
for i in range(len(suggestions)):
    print(ultimate_pivot.index[suggestions[i]])

Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Order of the Phoenix (Book 5)
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))

In [32]:
ultimate_pivot.index=='Animal Farm'

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [33]:
np.where(ultimate_pivot.index=='Animal Farm')[0][0]

54

In [34]:
def suggest(name):
    book_index=np.where(ultimate_pivot.index==name)[0][0]
    distances,suggestions=nn.kneighbors(ultimate_pivot.iloc[book_index, :].values.reshape(1,-1),n_neighbors=6)
    suggestions=suggestions.ravel()
    suggestions
    for i in range(len(suggestions)):
        print(ultimate_pivot.index[suggestions[i]])

In [ ]:
user_input=input('enter the book name:')
suggest(user_input)